@use '../abstract' as *;

body {
  background-color: darken($white, 0.7%);
}
.sidebar {
  position: absolute;
  top: 6.25rem;
  left: 0;
  bottom: 0;
}

.page {
  position: absolute;
  right: 0;
  left: 18rem;
  bottom: 0;
  top: 7.5rem;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .page-title {
    font-weight: 600;
    margin: 0.5rem 0 0.5rem 6rem;
  }
}
